ipykernel
ipython
virtualenv
pandas
numpy
pypdf
matplotlib
seaborn
scikit-learn
nltk
spacy
wordcloud
transformers
sentence-transformers
tensorflow
torch
tf-keras
openpyxl
plotly
pyarrow
xlrd
geopandas
shapely
geoplot
pillow
